

<div class="order-details-bar">
    <ul id="breadcrumb3">
        <li class="active">
        <a href="#">等待接单</a>
        </li>
        <li class="active">
        <a href="#">前往装货</a>
        </li>
        <li class="active">
        <a href="#">确认装货</a>
        </li>
        <li class="active">
        <a href="#">前往卸货</a>
        </li>
        <li class="active">
        <a href="#">确认卸货</a>
        </li>
        <li class="">
        <a href="#">订单完成</a>
        </li>
    </ul>
</div>

<!--司机信息-->
<div class="order-complated-head-area">
    <div class="order-icon-left">
        <img class="complate-icon" src="__IMG__/grade.png" alt="暂无图片">
        <span class="complate-fonts">订单完成</span>
    </div>
    <div class="driver-headImg-area">
        <span class="headImg"><img src="__IMG__/grade.png" alt="暂无图片"></span>
        <div class="driver-name-area">
            <p>{$driver['account']}</p>
            <p><span>联系电话</span><span>{$driver['mobile']}</span></p>
        </div>
    </div>
    <div class="driver-advice">
        评价建议
    </div>
</div>
<div class="order-map">
    <div id="container"></div>
</div>

<!--评价-->
<div class="driver-evaluate-area">
    <!--用户-->
    <ul class="driver-evaluate-ul">
        <li><span>您的评价:</span>&nbsp;<span>巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</span></li>
        <li>[<span>2017-09-30</span>&nbsp;&nbsp;<span>08:30</span>]</li>
    </ul>
    <!--司机-->
    <ul class="driver-evaluate-ul evaluate-ul">
        <li><span>司机的评价:</span>&nbsp;<span>巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</span></li>
        <li>[<span>2017-09-30</span>&nbsp;&nbsp;<span>08:30</span>]<div class="add-evaluate">追加评价</div></li>
    </ul>
</div>

<!--订单详情-->
<div class="order-complate-details">
    <div class="order-complate-head">
        <span>订单详情</span>
        <span class="see-rotate">查看路线></span>
    </div>
    <ul class="order-complate-details-ul">
        <li>
            <span></span>订单号:<span>{$order['orderNum']}</span>
        </li>
        <li>
            <span>订单创建时间:</span><span>{$order.createTime|date="Y-m-d",###}</span> <span>{$order.createTime | date='H:i', ###}</span>
        </li>
        <li>
            <span>订单接单时间:</span><span>{$order.distributeTime|date="Y-m-d",###}</span> <span>{$order.distributeTime|date="H:i",###}</span>
        </li>
        <li>
            <span>开始装货时间:</span><span>{$loader.starttime|date="Y-m-d",###}</span> <span>{$loader.starttime|date="H:i",###}</span>
        </li>
        <li>
            <span>装货完成时间:</span><span>{$loader.endtime|date="Y-m-d",###}</span> <span>{$loader.endtime|date="H:i",###}</span>
        </li>
        <li>
            <span>开始卸货时间:</span><span>{$unloader.starttime|date="Y-m-d",###}</span> <span>{$unloader.starttime|date="H:i",###}</span>
        </li>
        <li>
            <span>卸货完成时间:</span><span>{$unloader.endtime|date="Y-m-d",###}</span> <span>{$unloader.endtime|date="H:i",###}</span>
        </li>
    </ul>
</div>

<!--订单类别-->
<div class="order-genre-area">
    <ul class="order-genre-ul">
        <li>订单类别:</li>
        <li>{$order['orderType']}</li>
        <li>{$order['transType']}</li>
        <li>{$order['vehicleType']}</li>
    </ul>
</div>



<div class="newOrder-content">
    <!--货物清单信息-->
    <div class="newOrder-goods-message-area n-width">
        <div class="newOder-goods-information n-width newOder-complate">
            <div class="order-complate-goods-head">货物详情</div>
            <volist name="goods" id="vo">
                <ul class="goods-information-ul goods-information-ul2">
                    <li>
                        <span>长:</span><input type="text" value="{$vo['goodslength']}厘米">
                    </li>
                    <li>
                        <span>宽:</span><input type="text" value="{$vo['goodswidth']}厘米">
                    </li>
                    <li>
                        <span>高:</span><input type="text" value="{$vo['goodsheight']}厘米">
                    </li>
                    <li>
                        <span>重量:</span><input type="text" value="{$vo['goodsweight']}KG">
                    </li>
                    <li>
                        <span>数量:</span><input type="text" value="{$vo['count']}个">
                    </li>
                    <li>
                        <span>类别:</span><input type="text" value="{$vo['name']}">
                    </li>
                    <li>
                        <span>物品名:</span><input type="text" value="{$vo['goodsname']}">
                    </li>
                </ul>
            </volist>
            <span class="ul-bottom"></span>
        </div>

        <div class="order-information-area n-width order-information-area2">
            <div class="order-complate-orderInformation">订单信息</div>

            <div class="stowage-area n-width n-height stowage-area-complate">
                <span class="tilte-fonts tilte-fonts2 tilte-fonts3">装货信息</span>
                <ul class="stowage-ul2">
                    <li>
                        <span>地址:</span><span>{$loader['area']}</span>
                    </li>
                    <li>
                        <span>负责人:</span><span>{$loader['name']}</span><span>{$loader['mobile']}</span>
                    </li>
                    <li>
                        <span>备注:</span><span>{$loader['desc']}</span>
                    </li>
                    <li>
                        <span>时间:</span><span>{$loader['timeDay']}</span><span>{$loader['timeLoad']}</span>
                    </li>
                </ul>
            </div>
            <div class="stowage-area discharge-cargo n-width nono-border n-height">
                <span class="tilte-fonts tilte-fonts2  tilte-fonts3 tilte-fonts4">卸货信息</span>
                <ul class="stowage-ul2">
                    <li>
                        <span>地址:</span><span>{$unloader['area']}</span>
                    </li>
                    <li>
                        <span>负责人:</span><span>{$unloader['name']}</span><span>{$unloader['mobile']}</span>
                    </li>
                    <li>
                        <span>备注:</span><span>{$unloader['desc']}</span>
                    </li>
                    <li>
                        <span>时间:</span><span>{$unloader['timeDay']}</span><span>{$unloader['timeLoad']}</span>
                    </li>
                    <li id="last-li">
                        <span>计算装货率：</span><span>{$order['loadRate']}%</span><span>合计：</span><span>{$order['sumPrice']}元</span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<!--遮罩-->
<div class="overMasking"></div>
<div class="pop2">
	<div class="proposal-evaluate">
		<div class="proposal-head">
			<div class="proposal-hh">
				<div class="login_content">
				<span>建议评价</span>
				</div>
			</div>
		</div>
		<div class="proposal-content">
			<div class="content-star">
				<span class="star-icon"></span>
				<span class="star-icon"></span>
				<span class="star-icon"></span>
				<span class="star-icon"></span>
				<span class="star-icon"></span>
			</div>
			<div class="content-textarea">
				<textarea class="advice-box" name="" rows="" cols=""></textarea>
				<span class="words-num">500</span>
			</div>
			<div class="content-btn">
				<button class="content-button">发表评论</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

        var destLongtide = {$unloader.longitude}; //目的地经度
        var destLatide = {$unloader.latitude};//目的地纬度

        var depLongtide = {$loader.longitude}; //出发地地经度
        var deptLatide = {$loader.latitude};//出发地地纬度



        //基本地图加载

        var map = new AMap.Map("container", {
            resizeEnable: true,
            //center: [116.397428, 39.90923], //地图中心点
            zoom: 13 //地图显示的缩放级别
        });
        //构造路线导航类
        var driving = new AMap.Driving({
            map: map,
        });

        // 根据起终点名称规划驾车导航路线
        driving.search([depLongtide,deptLatide],[destLongtide,destLatide], function(status, result) {
            if(status === 'complete' && result.info === 'OK') {
                var jl = result.routes[0].distance * 1;
                console.log(jl)
            } else {
                alert(result);
            }
        });
        function showUnreadNews()
        {
            $(document).ready(function() {
                $.ajax({
                    type: "GET",
                    url: "{:U('orderInfo/redirectPart',['id'=>$order['orderId']])}",
                    dataType: "json",
                    success: function(data) {
                        window.location.href = data.url;
                    }
                });
            });
        }
        setInterval('showUnreadNews()',5000);//轮询执行，5000ms一次

</script>