<div class="order-details-bar">
	<ul id="breadcrumb3">
		<li class="active">
		<a href="#">等待接单</a>
		</li>
		<li 
			<switch name="orderState">
	    		<case value="2">class=""</case>
	    		<default/>class="active"
			</switch>
		>
		<a href="#">前往装货</a>
		</li>
		<li
			<if condition="$orderState eq 3"> class=""
			<elseif condition="$orderState gt 3"/>class="active"
			<else />class="active2"
			</if>
		>
		<a href="#">确认装货</a>
		</li>
		<li 
			<if condition="$orderState eq 5"> class=""
			<elseif condition="$orderState gt 5"/>class="active"
			<else />class="active2"
			</if>
		>
		<a href="#">前往卸货</a>
		</li>
		<li 
			<if condition="$orderState eq 6"> class=""
			<else />class="active2"
			</if>
		>
		<a href="#">确认卸货</a>
		</li>
		<li class="active2">
		<a href="#">订单完成</a>
		</li>
	</ul>
</div>
		<div class="load-goods">
			<!--左侧地图-->
			<div class="address-map">
				<div id="container"></div>
				<div id="panel"></div>
			</div>
			<!--右侧装货信息-->
			<div class="goods-info">
				<div class="driver-info">
					<div class="pop-left">
						<div class="pop-head-img"><img src="__IMG__/grade.png"></div>
					</div>
					<div class="pop-right">
						<span class="driver-name">{$driver['account']}</span>
						<p class="driver-details"><span>电话:</span><span>{$driver['mobile']}</span></p>
						<p class="driver-details"><span>车型:</span><span>{$driver['vehicletype']}</span></p>
						<p class="driver-details"><span>车牌:</span><span>{$driver['licence']}</span></p>

					</div>
				</div>
				<div class="loading-info">
					<span class="tilte-fonts tilte-fonts2">{$title}</span>
				</div>
				<div class="goods-infomation">
					<p><span class="loading-span-hui">地址 ： </span><span class="loading-span-hei"> {$loader['area']}</span></p>
					<p><span class="loading-span-hui">联系人 ： </span><span class="loading-span-hei"> {$loader['name']}  {$loader['mobile']}</span></p>
					<p><span class="loading-span-hui">时间 ： </span><span class="loading-span-hei"> {$loader['starttime'] | date='m-d',###}  {$loader['starttime'] | date='H:i',###} 预计装货{$loader['caculateTime']}小时</span></p>
					<span class="estimate-time"><span class="loading-span-hei">当前距离目的地<span class="address-dis"></span>公里</span><span class="loading-span-hei">预计</span><span class="loading-time">...小时</span><span class="loading-span-hei">抵达装货地点</span></span>
					<p><span class="loading-span-hui">备注:{$loader['desc']}</span></p>
				</div>
			</div>
		</div>

		<!--遮罩-->
		<div class="overMasking"></div>


<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.2&key=199fbca875e24c457e78f2a07468a86f&plugin=AMap.Driving"></script>

<script type="text/javascript">

	var destLongtide = {$loader.longitude}; //目的地经度
    var destLatide = {$loader.latitude};//目的地纬度

    var driLongtide = {$driver.longitude}; //司机目前地经度
    var dritLatide = {$driver.latitude};//司机目前地纬度

//	//自动定位
//	var map = new AMap.Map("container", {
//		resizeEnable: true
//	});
//	//构造路线导航类
//	var driving = new AMap.Driving({
//		map: map,
//		panel: "panel"
//	});
//	// 根据起终点经纬度规划驾车导航路线
//	driving.search(new AMap.LngLat(114.064552, 22.548457), new AMap.LngLat(114.164552, 22.548457));
//	//点击地图上的任意一点，获取经纬度
//	map.on('click', function(e) {
//		console.log(e.lnglat.getLng(), e.lnglat.getLat());
//	});
    //基本地图加载


    var map = new AMap.Map("container", {
        resizeEnable: true,
        //center: [116.397428, 39.90923], //地图中心点
        zoom: 13 //地图显示的缩放级别
    });
    //构造路线导航类
    var driving = new AMap.Driving({
        map: map,
    });
    // 根据起终点名称规划驾车导航路线
    driving.search([driLongtide, dritLatide], [destLongtide, destLatide], function(status, result) {
        if(status === 'complete' && result.info === 'OK') {
            var jl = result.routes[0].distance * 1 / 1000;
            console.log(jl)
            $('.address-dis').html(jl);
            //假设车速是5000米/小时
            var orderTime = Math.ceil(jl/5000);
            console.log(orderTime);
            $('.loading-time').html(orderTime+'小时');
        }
    });
    function showUnreadNews()
    {
        $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: "{:U('orderInfo/redirectPart',['id'=>$orderId])}",
                dataType: "json",
                success: function(data) {
                    window.location.href = data.url;
                }
            });
        });
    }
    setInterval('showUnreadNews()',300000);//轮询执行，300000ms一次
</script>