<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建订单</title>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=199fbca875e24c457e78f2a07468a86f&plugin=AMap.Driving"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <link rel="icon" href="__IMG__/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/all.css" />
    <script src="__JS__/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
<!--菜单-->
<div class="newOrder-head">
    <div class="newOrder-head-area">

        <div class="newOrder-userImg-area">
            <div class="newOrder-user-headImg">
                <img class="userImg" src="__IMG__/grade.png" alt="暂无图片">
            </div>
            <div class="newOrder-userName-area">
						<span class="newOrder-userName-span">
                   {$Think.session.account}
                </span>
                <span class="newOrder-userAddress-span">
                    <!-- 后期完善用户系统后请根据需求自行输出需要的参数-->

                </span>
            </div>
        </div>
        <div class="newOrder-nav-area">
            <ul class="nva-ul">
                <a href="{:U('orderList/lists')}"><li>首页</li></a>
                <!--<li>订单</li>-->
                <a href="{:U('order/add')}"><li>新建订单</li></a>
            </ul>
        </div>

    </div>
</div>