<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建订单</title>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/all.css" />
    <script src="__JS__/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
<!--菜单-->
<div class="newOrder-head">
    <div class="newOrder-head-area">

        <div class="newOrder-userImg-area">
            <div class="newOrder-user-headImg">
                <img class="userImg" src="__IMG__/138-140G1141348.jpg" alt="暂无图片">
            </div>
            <div class="newOrder-userName-area">
						<span class="newOrder-userName-span">
                    张生
                </span>
                <span class="newOrder-userAddress-span">
                    南山集散中心
                </span>
            </div>
        </div>
        <div class="newOrder-nav-area">
            <ul class="nva-ul">
                <li>首页〉</li>
                <li>订单</li>
                <li>新建订单</li>
            </ul>
        </div>

    </div>
</div>