<!DOCTYPE html>
<html lang="en">

	<body>

		<!--订单类别-->

		<div class="newOrder-type">
			<div class="newOrder-type-area">
				<span class="newOrder-type-fonts">
            订单类别
        </span>
				<ul class="newOrder-type-ul">
					<li>
						<select class="newOrder-type-li" name="orderType" form="dataForm">
							<option value="1" <eq name="order['ordertype']" value="1">selected</eq>>标准货物</option>
							<option value="2" <eq name="order['ordertype']" value="2">selected</eq>>非标准货物</option>
						</select>
					</li>
					<li>
						<select class="newOrder-type-li" name="transType" form="dataForm">
							<!--<option value="">用车类型</option>-->
							<option value="1" <eq name="order['transtype']" value="1">selected</eq>>正常模式</option>
							<option value="2" <eq name="order['transtype']" value="2">selected</eq>>拼车模式</option>
							
						</select>
					</li>
					<li>
						<select class="newOrder-type-li" name="vehicleType" form="dataForm">
							<!--<option value="">用车类型</option>-->
							<option value="1" <eq name="order['vehicletype']" value="1">selected</eq>>重量体积</option>
							<option value="2" <eq name="order['vehicletype']" value="2">selected</eq>>包车</option>
						</select>
					</li>
				</ul>
			</div>
		</div>
		<div class="newOrder-content">

			<!--货物清单信息-->
			<form action="{:U('update')}" id="dataForm" method="post">

				<div class="newOrder-goods-message-area">
					<div class="newOder-goods-information">
						<div class="title-box">货物信息</div>
						<ul class="goods-information-ulname">
							<li>长(厘米)</li>
							<li>宽(厘米)</li>
							<li>高(厘米)</li>
							<li>重量(KG)</li>
							<li>数量(个)</li>
							<li>类别</li>
							<li>物品名</li>
						</ul>
						<volist name="goods" id="vo">
							<ul class="goods-information-ul">
								<li>
									<input type="text" name="goodsLength[]" value="{$vo['goodslength']}" class="a1 aa">
								</li>
								<li>
									<input type="text" name="goodsWidth[]" value="{$vo['goodswidth']}" class="a2 aa">
								</li>
								<li>
									<input type="text" name="goodsHeight[]" value="{$vo['goodsheight']}" class="a3 aa">
								</li>
								<li>
									<input type="text" name="goodsWeight[]" value="{$vo['goodsweight']}" class="a4 aa">
								</li>
								<li>
									<input type="text" name="count[]" value="{$vo['count']}" class="a5 aa">
								</li>
								<li>
									<select class="newOrder-type-li" name="goodsType[]">
										<option value="">请选择</option>
										<option value="1" <eq name="vo['goodstype']" value="1">selected</eq>>固体</option>
										<option value="2" <eq name="vo['goodstype']" value="2">selected</eq>>液体</option>
									</select>
								</li>
								<li>
									<input type="text" name="goodsName[]" value="{$vo['goodsname']}" class="a7 aa">
								</li>
							</ul>
						</volist>	
						<div class="add-ul-btn"></div>
					</div>

					<div class="order-information-area">
						<div class="title-box">订单信息</div>

						<div class="stowage-area">
							<span class="tilte-fonts">装货信息</span>
							<ul class="stowage-ul">
								<li>
									<span>装货地点:</span><input type="text" id="input_id" name="s_area" value="{$stevedoring[1]['area']}" class="a8 aa"><input type="hidden" id="jingdu" name="s_LngAndLat" value="{$stevedoring[1]['lngandlat']}" />
									<div id="map_box"></div>
									<div id='message'></div>
									<span class="stowage-icon green-icon"></span>
								</li>
								<li><span>详细地址:</span><input type="text" name="s_address" value="{$stevedoring[1]['address']}"></li>
								<li>
									<span>装货联系人:</span><input class="name-input" type="text" placeholder="姓名" name="s_name" value="{$stevedoring[1]['name']}"><input class="phone-input" type="text" placeholder="电话" name="s_mobile" value="{$stevedoring[1]['mobile']}">
								</li>
								<li>
									<span>装货时间:</span><input type="text" id="test4" name="s_startTime" value="{$stevedoring[1]['starttime']|date="Y-m-d H:i:s",###}">
									<span class="stowage-span">预计装货:</span>
									<select name="s_estimatedTime">
									<option value="1" <eq name="stevedoring[1]['estimatedtime']" value="1">selected</eq>>1</option>
									<option value="2" <eq name="stevedoring[1]['estimatedtime']" value="2">selected</eq>>2</option>
									<option value="3" <eq name="stevedoring[1]['estimatedtime']" value="3">selected</eq>>3</option>
								</select><span class="stowage-hour">小时</span>
								</li>
								<li>
									<span>装货备注:</span><input type="text" name="s_desc" value="{$stevedoring[1]['desc']}">
								</li>
							</ul>
						</div>
						<div class="stowage-area discharge-cargo">
							<span class="tilte-fonts">卸货信息</span>
							<ul class="stowage-ul">
								<li>
									<span>卸货地点:</span><input type="text" id="input_id2" name="d_area" value="{$stevedoring[2]['area']}" class="a9 aa"><input type="hidden" id="jingdu2" name="d_LngAndLat" value="{$stevedoring[2]['lngandlat']}" />
									<div id="map_box2"></div>
									<span class="stowage-icon red-icon"></span>
								</li>
								<li><span>详细地址:</span><input type="text" name="d_address" value="{$stevedoring[2]['address']}"></li>
								<li>
									<span>卸货联系人:</span><input class="name-input" type="text" placeholder="姓名" name="d_name" value="{$stevedoring[2]['name']}"><input class="phone-input" type="text" placeholder="电话" name="d_mobile" value="{$stevedoring[2]['mobile']}">
								</li>
								<li>
									<span>卸货时间:</span><input type="text" id="test5" name="d_startTime" value="{$stevedoring[2]['starttime']|date="Y-m-d H:i:s",###}">
									<span class="stowage-span">预计卸货:</span>
									<select name="d_estimatedTime">
									<option value="1" <eq name="stevedoring[1]['estimatedtime']" value="1">selected</eq>>1</option>
									<option value="2" <eq name="stevedoring[2]['estimatedtime']" value="2">selected</eq>>2</option>
									<option value="3" <eq name="stevedoring[3]['estimatedtime']" value="3">selected</eq>>3</option>
								</select><span class="stowage-hour">小时</span>
								</li>
								<li>
									<span>卸货备注:</span><input type="text" name="d_desc" value="{$stevedoring[2]['desc']}">
								</li>
							</ul>
						</div>
					</div>
				</div>
				<input type="hidden" name="loadRate" value="{$order['loadrate']}" class="loading-rate randRate" style="display:none">
				<input type="hidden" name="sumPrice" value="{$order['sumprice']}" class="amount randPrice" style="display:none">
				<input type="hidden" name="id" value="{$order['id']}">
				<input type="submit" id="btns" value="" />
			</form>
		</div>

		<footer>
			<a href="###" style="float: right;">
				<div class="place-order">
					提交订单
				</div>
			</a>
			<div class="foot-price">
				<span class="foot-wen">装货率</span>
				<span class="loading-rate" style="display: none;">20%</span>

				<span class="foot-wen">预计金额</span>
				<span class="amount" style="display: none;">600元</span>

			</div>

		</footer>

		<div class="hide_box">
			<div id="container" class="map" tabindex="0"></div>
		</div>

		<!--遮罩-->
		<div class="overMasking"></div>
	</body>

</html>
<script src="__JS__/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__LAYDATE__/laydate.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.2&key=199fbca875e24c457e78f2a07468a86f"></script>
<script type="text/javascript">
    var newDom = '<ul class="goods-information-ul"><li><input type="text" name="goodsLength[]" class="aa a1" value="" ></li><li><input type="text" name="goodsWidth[]" class="aa a2" value=""></li><li><input type="text"name="goodsHeight[]" class="aa a3" value=""></li><li><input type="text"name="goodsWeight[]" class="aa a4" value=""></li><li><input type="text" name="count[]" class="aa a5"></li><li><select class="newOrder-type-li" name="goodsType[]" ><option value ="1">固体</option><option value ="2">液体</option></select><li><input type="text" name="goodsName[]" class="aa a7"></li><li><div class="delete-btn"></div></li></ul>';
	var domIndex = 0;
	//新增货物信息
	$('.add-ul-btn').click(function(event) {
		domIndex++;
		$(this).prev().after(newDom);
		$('.newOder-goods-information').height(domIndex * 40 + 100);
		console.log(domIndex, $('.newOder-goods-information').height());

		//删除
		$('.delete-btn').unbind('click');
		$('.delete-btn').click(function(event) {
			domIndex--;
			$(this).parent().parent().remove();
			$('.newOder-goods-information').height(domIndex * 40 + 100);
			console.log(domIndex, $('.newOder-goods-information').height());
		});
	});
	//执行一个laydate实例
	//时间选择器
	laydate.render({
		elem: '#test4',
		type: 'datetime'
	});
	laydate.render({
		elem: '#test5',
		type: 'datetime'
	});
	//地图
	$('#input_id').focus(function(event) {
		$(this).css({
			'border-color': '#4791ff'
		});
		$('#map_box').show();
		$('.overMasking').show();
		$('.overMasking').click(function() {
			$('#map_box').hide();
		});
	});
	$('#input_id2').focus(function(event) {
		$(this).css({
			'border-color': '#4791ff'
		});
		$('#map_box2').show();
		$('.overMasking').show();
		$('.overMasking').click(function() {
			$('#map_box2').hide();
		});
	});

	$('.place-order').click(function() {
        var save = true;
        $("[name='goodsLength[]']").each(function(){
            var goodsLength = $(this).val();
            if( $.trim(goodsLength) ==''){
                alert('请填写货物长度');
                save =  false;
            }
        });
        if(!save){
            return false;
        }
        $("[name='goodsWidth[]']").each(function(){
            var goodsWidth = $(this).val();
            if( $.trim(goodsWidth) ==''){
                alert('请填写货物宽度');
                save =  false;
            }
        });
        if(!save){
            return false;
        }

        $("[name='goodsHeight[]']").each(function(){
            var goodsHeight = $(this).val();
            if( $.trim(goodsHeight) ==''){
                alert('请填写货物高度');
                save =  false;
            }
        });
        if(!save){
            return false;
        }
        $("[name='goodsWeight[]']").each(function(){
            var goodsWeight = $(this).val();
            if( $.trim(goodsWeight) ==''){
                alert('请填写货物重量');
                save =  false;
            }
        });
        if(!save){
            return false;
        }
        $("[name='count[]']").each(function(){
            var count = $(this).val();
            if( $.trim(count) ==''){
                alert('请填写货物数量');
                save =  false;
            }
        });
        if(!save){
            return false;
        }
        $("[name='goodsType[]']").each(function(){
            var goodsType = $(this).val();
            if( $.trim(goodsType) ==''){
                alert('请选择货物类型');
                save =  false;
            }
        });
        if(!save){
            return false;
        }
        $("[name='goodsName[]']").each(function(){
            var goodsName = $(this).val();
            if( $.trim(goodsName) ==''){
                alert('请填写货物名称');
                save =  false;
            }
        });
        if(!save){
            return false;
        }
        if(save){
            $('#btns').click();
        }
	});

	var map = new AMap.Map('map_box', {
		resizeEnable: true,
		zoom: 13
	});
	var map2 = new AMap.Map('map_box2', {
		resizeEnable: true,
		zoom: 13
	});
	AMap.plugin('AMap.Geocoder', function() {
		var geocoder = new AMap.Geocoder({
			enableHighAccuracy: true,
			timeout: 10000, //超过10秒后停止定位，默认：无穷大
			buttonOffset: new AMap.Pixel(10, 20), //定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
			buttonPosition: 'RB'
		});
		var marker = new AMap.Marker({
			map: map,
			bubble: true
		});
		var marker2 = new AMap.Marker({
			map: map2,
			bubble: true
		})
		var input = document.getElementById('input_id');
		var input2 = document.getElementById('input_id2');
		var message = document.getElementById('message');

		map.on('click', function(e) {
			marker.setPosition(e.lnglat);
			geocoder.getAddress(e.lnglat, function(status, result) {
				console.log(result.regeocode)
				if(status == 'complete') {
					$('#input_id').val(result.regeocode.addressComponent.province + '  ' + result.regeocode.addressComponent.city + '  ' +
						result.regeocode.addressComponent.district + '   ' + result.regeocode.addressComponent.township + '  ' + result.regeocode.addressComponent.street);
					$('#jingdu').val(e.lnglat.L + '  ' + e.lnglat.N);
					message.innerHTML = ''
				} else {
					message.innerHTML = '无法获取地址'
				}
			});
			console.log(e.lnglat);
		})

		input.onchange = function(e) {
			var address = input.value;
			geocoder.getLocation(address, function(status, result) {
				if(status == 'complete' && result.geocodes.length) {
					marker.setPosition(result.geocodes[0].location);
					map.setCenter(marker.getPosition())
					message.innerHTML = ''
				} else {
					message.innerHTML = '无法获取位置'
				}
			})
		};

		map2.on('click', function(e) {
			marker2.setPosition(e.lnglat);
			geocoder.getAddress(e.lnglat, function(status, result) {
				console.log(result.regeocode)
				if(status == 'complete') {
					$('#input_id2').val(result.regeocode.addressComponent.province + '  ' + result.regeocode.addressComponent.city + '  ' +
						result.regeocode.addressComponent.district + '   ' + result.regeocode.addressComponent.township + '  ' + result.regeocode.addressComponent.street);
					$('#jingdu2').val(e.lnglat.L + '  ' + e.lnglat.N);
					message.innerHTML = ''
				} else {
					message.innerHTML = '无法获取地址'
				}
			});
			console.log(e.lnglat);
		})

		input2.onchange = function(e) {
			var address = input.value;
			geocoder.getLocation(address, function(status, result) {
				if(status == 'complete' && result.geocodes.length) {
					marker.setPosition(result.geocodes[0].location);
					map.setCenter(marker.getPosition())
					message.innerHTML = ''
				} else {
					message.innerHTML = '无法获取位置'
				}
			})
		};
	});
	//提交事件
    $(document).on("click",".save",function(){
        var save = true;

        $("[name='goodsName[]']").each(function(){
            var goodsName = $(this).val();
            if( $.trim(goodsName) ==''){
                alert('xxx');
                save =  false;
            }
        });
        if(!save){
            return false;
        }

        if(save){
            $(".orders").submit();
        }
    })
	

	
	
	
	
	
	
</script>
<script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>