<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>登录界面</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/all.css" />
	</head>

	<body>
		<div class="login-box">

			<div class="login-logo"></div>
			<div class="login-content">
				<div class="login-tips">
					<span class="tips-icon"></span>
					<span>您输入的用户名和密码不匹配</span>
				</div>
				<div class="login-inp">
					<input type="text" placeholder="用户名"/>
				</div>
				<div class="login-inp">
					<input type="text" placeholder="输入密码"/>
				</div>
				<div class="login-button">
					<button class="login-btn">登录</button>
				</div>
				<div class="login-foot">
					<a href="###"><span>申请新用户</span></a>
					<span>|</span>
					<a href="###"><span>忘记密码</span></a>
				</div>
			</div>

		</div>
	</body>

</html>