<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>订单完成</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/all.css" />
	</head>

	<body>

		<!--菜单-->
		<div class="newOrder-head">
			<div class="newOrder-head-area">

				<div class="newOrder-userImg-area">
					<div class="newOrder-user-headImg">
						<img class="userImg" src="images/138-140G1141348.jpg" alt="暂无图片">
					</div>
					<div class="newOrder-userName-area">
						<span class="newOrder-userName-span">
                    张生
                </span>
						<span class="newOrder-userAddress-span">
                    南山集散中心
                </span>
					</div>
				</div>

				<div class="newOrder-nav-area">
					<ul class="nva-ul">
						<li>
							<a href="###">首页 〉</a>
						</li>
						<li class="newOrder-active">
							<a href="###">订单</a>
						</li>
					</ul>
				</div>

			</div>
		</div>

		<!--订单类别-->

		<div class="newOrder-type">
			<div class="order-progress">
				<ul class="order-progress-list">
					<li>
						<a href="###">未处理</a><span class="order-bar"></span></li>
					<li>
						<a href="###">进行中</a><span class="order-bar"></span><span class="message1"></span></li>
					<li class="order-active">
						<a href="###">已完成</a><span class="order-bar"></span><span class="message1"></span>
					</li>
				</ul>
			</div>
		</div>
		<div class="order-list">
			<div class="order-list-name">
				<span class="order">订单</span>
				<span class="num">数量</span>
				<span class="num">总重量</span>
				<span class="category">货物类别</span>
				<span class="total-amount">总金额</span>
				<span class="delet"></span>
			</div>
		</div>
		<div class="order-content">
			<!--订单消息列表-->
			<div class="order-table">
				<div class="order-list-icon">
					<a href="newOrder.html"><span class="add-order"></span></a>
					<a href="###"><span class="more"></span></a>
				</div>
				<div class="order-table-list">
					<div class="order-table-head">
						<div class="order-table-left">
							<span class="message2"></span>
							<span class="check-span"><input type="checkbox"/></span>
							<span class="order-www">2017-12-02</span>
							<span class="order-www">订单号：1234567890</span>
						</div>
						<div class="order-table-right" style="justify-content: flex-end;">
							<span class="order-state"><span class="order-span evaluation-order">评价订单</span></span>
						</div>

					</div>
					<div class="order-main">
						<div class="starting-point">
							<span class="start-name">呼和浩特</span>
							<span class="start-date"><span>17-05-06</span><span>星期一</span></span>
							<span class="start-time"><span>18:00</span><span>预计装货2小时</span></span>
						</div>
						<div class="right">
							<span></span>
						</div>
						<div class="starting-point end">
							<span class="start-name">武汉</span>
							<span class="start-date"><span>17-05-07</span><span>星期二</span></span>
							<span class="start-time"><span>18:00</span><span>预计卸货2小时</span></span>
						</div>
						<div class="order-num">
							<span>75件</span>
						</div>
						<div class="order-num">
							<span>3000kg</span>
						</div>
						<div class="order-goods">
							<span>食品/家具/电器</span>
						</div>
						<div class="order-price">
							<span>￥1800.00</span><br />
							<span>(含加急费:￥0.00)</span>
						</div>
					</div>

				</div>
				<div class="order-table-list">
					<div class="order-table-head">
						<div class="order-table-left">
							<span class="message2"></span>
							<span class="check-span"><input type="checkbox"/></span>
							<span class="order-www">2017-12-02</span>
							<span class="order-www">订单号：1234567890</span>
						</div>
						<div class="order-table-right" style="justify-content: flex-end;">
							<span class="order-state"><span class="order-span evaluation-order2">已评价</span></span>
						</div>

					</div>
					<div class="order-main">
						<div class="starting-point">
							<span class="start-name">呼和浩特</span>
							<span class="start-date"><span>17-05-06</span><span>星期一</span></span>
							<span class="start-time"><span>18:00</span><span>预计装货2小时</span></span>
						</div>
						<div class="right">
							<span></span>
						</div>
						<div class="starting-point end">
							<span class="start-name">武汉</span>
							<span class="start-date"><span>17-05-07</span><span>星期二</span></span>
							<span class="start-time"><span>18:00</span><span>预计卸货2小时</span></span>
						</div>
						<div class="order-num">
							<span>75件</span>
						</div>
						<div class="order-num">
							<span>3000kg</span>
						</div>
						<div class="order-goods">
							<span>食品/家具/电器</span>
						</div>
						<div class="order-price">
							<span>￥1800.00</span><br />
							<span>(含加急费:￥0.00)</span>
						</div>
					</div>

				</div>
				<div class="order-table-list">
					<div class="order-table-head">
						<div class="order-table-left">
							<span class="message2"></span>
							<span class="check-span"><input type="checkbox"/></span>
							<span class="order-www">2017-12-02</span>
							<span class="order-www">订单号：1234567890</span>
						</div>
						<div class="order-table-right" style="justify-content: flex-end;">
							<span class="order-state"><span class="order-span evaluation-order3">查看回复</span></span>
						</div>

					</div>
					<div class="order-main">
						<div class="starting-point">
							<span class="start-name">呼和浩特</span>
							<span class="start-date"><span>17-05-06</span><span>星期一</span></span>
							<span class="start-time"><span>18:00</span><span>预计装货2小时</span></span>
						</div>
						<div class="right">
							<span></span>
						</div>
						<div class="starting-point end">
							<span class="start-name">武汉</span>
							<span class="start-date"><span>17-05-07</span><span>星期二</span></span>
							<span class="start-time"><span>18:00</span><span>预计卸货2小时</span></span>
						</div>
						<div class="order-num">
							<span>75件</span>
						</div>
						<div class="order-num">
							<span>3000kg</span>
						</div>
						<div class="order-goods">
							<span>食品/家具/电器</span>
						</div>
						<div class="order-price">
							<span>￥1800.00</span><br />
							<span>(含加急费:￥0.00)</span>
						</div>
					</div>

				</div>
			</div>

		</div>

		<!--遮罩-->
		<div class="overMasking"></div>
		<!--弹窗-->
		<div class="pop">
			<div class="pop1">
				<span class="pop1-close"></span>
				<div class="pop-left">
					<div class="pop-head-img"></div>
				</div>
				<div class="pop-right">
					<span class="driver-name">王大大</span>
					<p class="driver-details"><span>电话:</span><span>137-2222-3333</span></p>
					<p class="driver-details"><span>车型:</span><span>K6-L</span></p>
					<p class="driver-details"><span>车牌:</span><span>粤B 888</span></p>

				</div>
			</div>
		</div>
	</body>

</html>
<script src="js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/all.js" type="text/javascript" charset="utf-8"></script>