<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>等待接单</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/all.css" />
	</head>

	<body>

		<!--菜单-->
		<div class="newOrder-head">
			<div class="newOrder-head-area">

				<div class="newOrder-userImg-area">
					<div class="newOrder-user-headImg">
						<img class="userImg" src="images/138-140G1141348.jpg" alt="暂无图片">
					</div>
					<div class="newOrder-userName-area">
						<span class="newOrder-userName-span">
                    张生
                </span>
						<span class="newOrder-userAddress-span">
                    南山集散中心
                </span>
					</div>
				</div>

				<div class="newOrder-nav-area">
					<ul class="nva-ul">
						<li><a href="###">首页  〉</a></li>
						<li><a href="###">订单  〉</a></li>
						<li class="newOrder-active"><a href="###">订单详情</a></li>
					</ul>
				</div>

			</div>
		</div>


		<div class="order-details-bar">
			<ul id="breadcrumb">
			<li>
				<a href="#">等待接单</a>
			</li>
			<li class="active">
				<a href="#">前往装货</a>
			</li>
			<li class="active">
				<a href="#">确认装货</a>
			</li>
			<li class="active">
				<a href="#">前往卸货</a>
			</li>
			<li class="active">
				<a href="#">确认卸货</a>
			</li>
			<li class="active">
				<a href="#">订单完成</a>
			</li>
		</ul>
		</div>


		<!--订单类别-->
		<div class="newOrder-type">
			<div class="newOrder-type-area orderWaiting-width">
				<span class="newOrder-type-fonts orderWaiting-margin">
            订单类别
        </span>
				<ul class="newOrder-list-type">
					<li>标准货物</li>
					<li>拼车模式</li>
					<li>车型：RZ25</li>
				</ul>
			</div>
		</div>

		<div class="newOrder-content">

			<!--货物清单信息-->
			<div class="newOrder-goods-message-area n-width">
				<div class="newOder-goods-information n-width">
					<div class="title-box title-box2">货物详情</div>
					<ul class="goods-information-ul goods-information-ul2">
						<li>
							<span>长:</span><input type="text" value="50cm">
						</li>
						<li>
							<span>宽:</span><input type="text" value="50cm">
						</li>
						<li>
							<span>高:</span><input type="text" value="50cm">
						</li>
						<li>
							<span>重量:</span><input type="text" value="800kg">
						</li>
						<li>
							<span>数量:</span><input type="text" value="2件">
						</li>
						<li>
							<span>类别:</span><input type="text" value="食品">
						</li>
						<li>
							<span>物品名:</span><input type="text" value="面包">
						</li>
					</ul>
					<ul class="goods-information-ul goods-information-ul2 ul-bottom">
						<li>
							<span>长:</span><input type="text" value="50cm">
						</li>
						<li>
							<span>宽:</span><input type="text" value="50cm">
						</li>
						<li>
							<span>高:</span><input type="text" value="50cm">
						</li>
						<li>
							<span>重量:</span><input type="text" value="800kg">
						</li>
						<li>
							<span>数量:</span><input type="text" value="2件">
						</li>
						<li>
							<span>类别:</span><input type="text" value="食品">
						</li>
						<li>
							<span>物品名:</span><input type="text" value="面包">
						</li>
					</ul>

					<ul class="order-bottomRight-information">
						<li>
							<span>共计：</span>
						</li>
						<li>
							<span>800kg</span>
						</li>
						<li>
							<span>12件</span>
						</li>
					</ul>

				</div>

				<div class="order-information-area n-width">
					<div class="title-box title-box2">订单信息</div>

					<div class="stowage-area n-width n-height">
						<span class="tilte-fonts tilte-fonts2">装货信息</span>
						<ul class="stowage-ul stowage-ul2">
							<li>
								<span>地址:</span><span>蛇口边检生活区</span><span class="stowage-icon green-icon"></span>
							</li>
							<li>
								<span>负责人:</span><span>王小明</span><span>137-2222-2222</span>
							</li>
							<li>
								<span>备注:</span><span>...</span>
							</li>
							<li>
								<span>时间:</span><span>09-23周六</span><span>09:00-10:00</span>
							</li>
						</ul>
					</div>
					<div class="stowage-area discharge-cargo n-width nono-border n-height">
						<span class="tilte-fonts tilte-fonts2 tilte-fonts4">卸货信息</span>
						<ul class="stowage-ul stowage-ul2">
							<li>
								<span>地址:</span><span>蛇口边检生活区</span><span class="stowage-icon red-icon"></span>
							</li>
							<li>
								<span>负责人:</span><span>王小明</span><span>137-2222-2222</span>
							</li>
							<li>
								<span>备注:</span><span>...</span>
							</li>
							<li>
								<span>时间:</span><span>09-23周六</span><span>09:00-10:00</span>
							</li>
							<li id="last-li">
								<span>计算装货率：</span><span>70%</span><span>合计：</span><span>600元</span>
							</li>
						</ul>

						<ul class="order-manage-btns">
							<li>编辑订单</li>
							<li>悬赏订单</li>
							<li>删除订单</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!--遮罩-->
		<div class="overMasking"></div>
		<!--<footer>
			<a href="###" style="float: right;">
				<div class="place-order">
					提交订单
				</div>
			</a>
			<div class="foot-price">
				<span class="foot-wen">装货率</span>
				<span class="loading-rate">20%</span>
				<span class="foot-wen">预计金额</span>
				<span class="amount">600元</span>
			</div>

		</footer>-->

	</body>

</html>
<script src="js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/all.js" type="text/javascript" charset="utf-8"></script>